body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #429daf, #ba409a);
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

#jumpButton {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #521993;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
p{
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    
}

#jumpButton:hover {
    background-color: #2980b9;
}

.hidden {
    display: none;
}

#textContainer {
    position: relative;
    top: 0;
    animation: jump 1s forwards;
}

@keyframes jump {
    0% { top: 0; }
    50% { top: -50px; }
    100% { top: 0; }
}